*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --indigo: #374351;
  --teal-light: #B6E0DE;
  --teal-mid: #71BEC6;
  --teal-dark: #4C7C8E;
  --grey: #A0AAB6;
  --pink-dark: #ED4C5D;
  --pink-light: #F9B8CB;
  --bkg: #291E41;
}

/* Import fonts */

html {
  font-family: 'Oxygen', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--indigo);
  padding: 0 1rem;
}

a:hover {
  /* color: var(--teal-mid); */
  background-color: var(--pink-light);
  border-radius: 100px;
  transition: color ease 0.2s;
}

@media all and (min-width: 320px) and (max-width: 780px) {
  .mob-hide {
    display: none;
  }

  .web-hide {
    display: block;
  }

  header {
    background-image: url("/yumxwebimage/hero_bkg-s.png");
    background-repeat: no-repeat;
    background-position: top;
    background-position: fixed;
    background-size: 100vw;
  }
}

@media all and (min-width: 781px) {
  .mob-hide {
    display: block;
  }

  .web-hide {
    display: none;
  }

  header {
    background-image: url("/yumxwebimage/hero_bkg-l.png");
    background-repeat: no-repeat;
    background-position: top;
    background-position: fixed;
    background-size: 100vw;
  }
}

/* --- mobile nav --- */
#menu {
  width: 40px;
  height: 30px;
  position: fixed;
  float: right;
  right: 32px;
  margin-top: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 999;
}

#menu span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: var(--grey);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu span:nth-child(1) {
  top: 0px;
}

#menu span:nth-child(2),#menu span:nth-child(3) {
  top: 12px;
}

#menu span:nth-child(4) {
  top: 24px;
}

#menu.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: -100vw;
  top: 0;
  background-color: rgba(241,248,249,.96);
  opacity: 0.8;
  transition: all ease 0.8s;
}

.overlay ul {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.overlay img {
  width: 20vw;
  min-width: 50px;
  max-width: 100px;
  margin: 0 auto;
}

.overlay li {
  font-size: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--indigo);
}

.pulldown {
  right: 0px;
  opacity: 1;
}

/* --- desktop nav --- */
.desktopNav {
  width: 100%;
  /* background-color: rgba(255,255,255,0.5); */
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.desktopNav li {
  font-size: 1.6rem;
  font-weight: bold;
}

.desktopNav li:hover {
  /* background-color: var(--teal-light);
  color: var(--indigo);
  border-radius: 100px; */
}

.desktopNav li, .desktopNav img {
  padding: 1rem 2rem;
}

/* --- hero --- */
.heroWrap {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
}

@media all and (min-width: 781px) and (max-width: 858px) {
    .heroImg-l {
    height: 50vh;
    margin-right: 2vw;
  }
}

@media all and (min-width: 859px) and (max-width: 1024px) {
    .heroImg-l {
    height: 60vh;
    margin-right: 2vw;
  }
}

@media all and (min-width: 1025px) {
    .heroImg-l {
    height: 65vh;
    max-width: 550px;
    margin-right: 8vw;
  }
}

.heroImg-s {
  height: 60vh;
  max-width: 300px;
  margin-right: -8vw;
}

@media all and (min-width: 576px) {
  .heroImg-s {
    height: 70vh;
  }
}

.heroLeft {
  text-align: right;
  padding-right: 2rem;
}

@media all and (min-width: 1024px) {
  .heroLeft {
    padding-right: 8rem;
  }
}

h1{
  font-size: 4rem;
  letter-spacing: 5px;
  color: var(--teal-mid);
}

h1 span {
  color: var(--pink-dark);
}

.heroLeft p {
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 2rem 0;
}

.store {
  text-align: right;
  padding-bottom: 4rem;
}

.store img {
  width: 150px;
  padding-bottom: 2rem;
}

.searchWrap {
  width: 80%;
  margin: 10rem auto;
  text-align: center;
  padding-bottom: 6rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 4.8rem;
  color: var(--indigo);
  padding: 3rem 0;
}

.searchWrap form {
  padding-bottom: 2rem;
}

input[name=search] {
  width: 100%;
  height: 40px;
  background-color: #FFF;
  border-radius: 10rem;
  border: 2px solid var(--teal-light);
  background-image: url('/yumxwebimage/icon_search.svg');
  background-size: 20px;
  background-position: 96% center;
  background-repeat: no-repeat;
  padding-left: 2rem;
}

input[name=search]:focus {
  border: 2px solid var(--indigo);
}

.searchWrap a {
  font-size: 1.8rem;
}

@media all and (min-width: 575px) {
  h1 {
    font-size: 9.6rem;
  }

  .heroLeft p {
    font-size: 2.4rem;
    padding: 4rem 0;
  }

  .store img {
    width: 240px;
    padding: 2rem 0 2rem 2rem;
  }

  .searchWrap {
    width: 60%;
  }

  h2 {
    font-size: 3.6rem;
  }
}

/* --- features --- */
.feature {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@media all and (min-width: 576px) {
  .feature {
    width: 60%;
  }
}

.feature span img {
  padding-bottom: 3rem;
}

.feature p {
  padding-bottom: 2rem;
  text-align: left;
  color: var(--indigo);
}

@media all and (min-width: 781px) {
  .grid-2col {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    align-items: center;
    position: relative;
  }

  .feature {
    padding-bottom: 10rem;
  }

  .feature .demo{
    width: 100%;
    max-width: 800px;
  }

  .feature .float-r {
    float: right;
  }

  .feature span {
    padding: 0 5rem;
  }
}

@media all and (min-width: 1281px) {
  .feature span {
    padding: 0 20rem 0 5rem;
  }

  .feature .align-r {
    padding: 0 5rem 0 20rem;
  }
}

/* --- testimonials --- */
.tstm {
  background-color: var(--indigo);
}

.tstm h2 {
  color: #FFF;
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.tstm .line {
  width: 300px;
  height: 1px;
  background-color: var(--pink-light);
  margin: 0 auto;
}

.tstm .reviews {
  width: 80%;
  padding: 5rem 0;
  margin: 0 auto;
}
